<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>小米商城-个人中心</title>
		<link rel="stylesheet" type="text/css" href="/static/index/css/style.css">
		<style>
			span > input{
				color:dimgray ;
				width: 600px;
				background-color: transparent ;
				border: 0 ;
				outline: 0 ;
			}
		</style>
	</head>
	<body>
	<!-- start header -->
	{include file="public/header" }
	<!--end header -->
	<!-- start banner_x -->
		<!-- 在 header.html里面 -->
<!-- end banner_x -->
<!-- self_info -->
	<div class="grzxbj">
		<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="{:url('Order/index')}" >我的订单</a></li>
					<li><a href="">意外保</a></li>
					<li><a href="">团购订单</a></li>
					<li><a href="">评价晒单</a></li>
				</ul>
			</div>
			<div class="ddzx">个人中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="{:url('Selfinfo/index')}" style="color:#ff6700;font-weight:bold;">我的个人中心</a></li>
					<li><a href="">消息通知</a></li>
					<li><a href="">优惠券</a></li>
					<li><a href="">收货地址</a></li>
				</ul>
			</div>
		</div>
		<div class="rtcont fr">
			<form enctype="multipart/form-data" method="post" >
					<div class="grzlbt ml40">我的资料</div>
					<div class="subgrzl ml40"><span>昵称</span><span><input type="text" name="username" class="name" readonly value="{$Think.session.name}"></span><span><a href="">编辑</a></span></div>
					<div class="subgrzl ml40"><span>手机号</span><span><input type="text" name="username" class="name" readonly value="15669097417"></span><span><a href="">编辑</a></span></div>
					<div class="subgrzl ml40"><span>头像</span><span><input type="file" name="i" multiple></span><span><input type="submit" formaction="{:url('Selfinfo/upload')}" value="上传"></span></div>
					<div class="subgrzl ml40"><span>个性签名</span><span><input type="text" name="username" class="name" readonly value="一支穿云箭，千军万马来相见！"></span><span><a href="">编辑</a></span></div>
					<div class="subgrzl ml40"><span>我的爱好</span><span><input type="text" name="username" class="name" readonly value="游戏，音乐，旅游，健身"></span><span><a href="">编辑</a></span></div>
					<div class="subgrzl ml40"><span>收货地址</span><span><input type="text" name="username" class="name" readonly value="浙江省杭州市江干区19号大街571号"></span><span><a href="">编辑</a></span></div>
					<div class="subgrzl ml40"><span><a href="">修改密码</a></span><span><a href="">忘记密码</a></span><span><a href="{:url('Selfinfo/exits')}">退出登录</a></span></div>
				</form>
		</div>
		<div class="clear"></div>
		</div>
	</div>
<!-- self_info -->
		
{include file="public/foot"}
	</body>
</html>