<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{$Reg.index()}" method="POST">
        <div>
            <p>名字：</p>
            <input type="text" name="name" id="userName"><br>
        </div>
        <div>
            <p>电话：</p>
            <input type="text" name="phone" id="userPhone"><br>
        </div>
        <div>
            <p>账号：</p>
            <input type="text" name="acc" id="userAcc"><br>
        </div>
        <div>
            <p>密码：</p>
            <input type="password" name="pwd1" id="userPwd1"><br>
        </div>
        <div>
            <p>确认密码：</p>
            <input type="password" name="pwd2" id="userPwd2"><br>
        </div>
        <div>
            <br>
            <input type="submit" value="注册">
        </div>
    </form>
</body>
</html>