<!DOCTYPE html>
<html>
<head>
<title>学生成绩记录系统</title>
<script type="text/javascript" src="/Public/js/metaer.js"></script>
<script type="text/javascript" src="/Public/js/linker.js"></script>
</head>
<body>
<script type="text/javascript" src="/Public/js/header.js"></script>
<h1>学生成绩记录系统</h1>
<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">忘记密码</h2>
			<form method="post">
					<input type="text" name="Username" placeholder="用户名" required="" />
					<input type="password" name="Password1" placeholder="密码" required="" />
					<input type="password" name="Password2" placeholder="重复密码" required="" />
				<div class="submit-w3l">
					<input type="submit" value="修改" formaction="{:U('Forgot/forget')}">
				</div>
				<!-- <p class="p-bottom-w3ls">如果你有账号来<a href="../Login/index">这里登录</a></p> -->
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
<script type="text/javascript" src="/Public/js/footer.js"></script>
</body>
</html>